
<div class="layui-row layui-col-space10" style="padding-top: 20px;font-size: larger">
    <div class="layui-col-md3" style="background-color: #007DDB;height: 80px">
        <i class="layui-icon layui-icon-user" style="font-size: 60px; color: #93D1FF"></i>
        <a href="{{urlfor "ClientController.List"}}">客户数量:{{.clients}}</a>
    </div>
    <div class="layui-col-md3" style="background-color: #00FF00;height: 80px">
        <i class="layui-icon layui-icon-list" style="font-size: 60px; color: #1E9FFF;"></i>
        <a href="{{urlfor "ProductController.List"}}">产品数量:{{.products}}</a>
    </div>
    <div class="layui-col-md3" style="background-color: #eb7350;height: 80px">
        <i class="layui-icon layui-icon-log" style="font-size: 60px; color: darkgreen"></i>
        <a href="{{urlfor "SalesController.List"}}">销售笔数:{{.saless}}</a>
    </div>
    <div class="layui-col-md3" style="background-color: #FF5722;height: 80px">
        <i class="layui-icon layui-icon-rmb" style="font-size: 60px; color: #1E9FFF;"></i>
        销售总计:{{.sum}}
    </div>
</div>