<h2 align="center" style="padding-top: 20px">产品销售单</h2>
<form class="layui-form layui-form-pane" action="" method="post" style="padding-top: 20px">
{{ .xsrfdata }}
    <div class="layui-form-item" pane="">
        <label class="layui-form-label">购买客户</label>
        <div class="layui-input-block">
            <select name="client">
            {{range .clients}}
                <option value="{{.Id}}" >{{.Name}}</option>
            {{end}}
            </select>
        </div>
    </div>
    <div class="layui-form-item" pane="">
        <label class="layui-form-label">购买时间</label>
        <div class="layui-input-block">
            <input name="datetime" class="layui-input" id="datetime" value="{{.now}}">
        </div>
    </div>
    <table class="layui-table">
        <thead>
            <td>产品</td>
            <td>单价</td>
            <td>数量</td>
            <td>合计</td>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select name="product">
                        <option value=""></option>
                    {{range .products}}
                        <option value="{{.Id}}">{{.Name}}</option>
                    {{end}}
                    </select>
                </td>
                <td><input type="text" name="unitprice" class="layui-input"></td>
                <td><input type="text" name="number" class="layui-input"></td>
                <td><input type="text" disabled name="number" placeholder="自动生成" class="layui-input"></td>
            </tr>
            <tr>
                <td>
                    <select name="product">
                        <option value=""></option>
                    {{range .products}}
                        <option value="{{.Id}}">{{.Name}}</option>
                    {{end}}
                    </select>
                </td>
                <td><input type="text" name="unitprice" class="layui-input"></td>
                <td><input type="text" name="number" class="layui-input"></td>
                <td><input type="text" disabled name="number" placeholder="自动生成" class="layui-input"></td>
            </tr>
            <tr>
                <td>
                    <select name="product">
                        <option value=""></option>
                    {{range .products}}
                        <option value="{{.Id}}">{{.Name}}</option>
                    {{end}}
                    </select>
                </td>
                <td><input type="text" name="unitprice" class="layui-input"></td>
                <td><input type="text" name="number" class="layui-input"></td>
                <td><input type="text" disabled name="number" placeholder="自动生成" class="layui-input"></td>
            </tr>
            <tr>
                <td>
                    <select name="product">
                        <option value=""></option>
                    {{range .products}}
                        <option value="{{.Id}}">{{.Name}}</option>
                    {{end}}
                    </select>
                </td>
                <td><input type="text" name="unitprice" class="layui-input"></td>
                <td><input type="text" name="number" class="layui-input"></td>
                <td><input type="text" disabled name="number" placeholder="自动生成" class="layui-input"></td>
            </tr>
            <tr>
                <td>
                    <select name="product">
                        <option value=""></option>
                    {{range .products}}
                        <option value="{{.Id}}">{{.Name}}</option>
                    {{end}}
                    </select>
                </td>
                <td><input type="text" name="unitprice" class="layui-input"></td>
                <td><input type="text" name="number" class="layui-input"></td>
                <td><input type="text" disabled name="number" placeholder="自动生成" class="layui-input"></td>
            </tr>
            <tr>
                <td>
                    <select name="product">
                        <option value=""></option>
                    {{range .products}}
                        <option value="{{.Id}}">{{.Name}}</option>
                    {{end}}
                    </select>
                </td>
                <td><input type="text" name="unitprice" class="layui-input"></td>
                <td><input type="text" name="number" class="layui-input"></td>
                <td><input type="text" disabled name="number" placeholder="自动生成" class="layui-input"></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="layui-btn layui-btn-normal">新增销售</button>
</form>
<script>
    layui.use(['form','laydate'],function () {
        var form = layui.form,
        laydate = layui.laydate;

        laydate.render({
            elem:"#datetime",
            type:"datetime"
        });
    });
</script>