<form class="layui-form layui-form-pane" action="" method="post" style="padding-top: 20px">
{{ .xsrfdata }}
    <div class="layui-inline">
        <div class="layui-input-inline " style="width: 200px">
            <input type="text" class="layui-input" name="key" placeholder="可输入电话/地址查询" value="{{.key}}">
        </div>
        <div class="layui-input-inline " style="padding-left: 10px" >
            <button class="layui-btn">搜索</button>
        </div>
    </div>
</form>
<div>
<table class="layui-table">
    <thead>
        <td>ID</td>
        <td>客户</td>
        <td>客户电话</td>
        <td>购买产品</td>
        <td>购买数量</td>
        <td>总价</td>
        <td>状态</td>
        <td>下单日期</td>
        <td>操作</td>
    </thead>
    <tbody>
        {{range .sales}}
        <tr>
            <td>{{.id}}</td>
            <td>{{.clientname}}</td>
            <td>{{.phone}}</td>
            <td>
                {{range .salespd}}
                    {{.SalesPdname}}&nbsp;&nbsp;
                {{end}}
            </td>
            <td>{{len .salespd}}</td>
            <td>{{.sums}}</td>
            <td>{{.status}}</td>
            <td>{{.date}}</td>
            <td><a href="{{urlfor "SalesController.Detail"}}?id={{.id}}">详情</a></td>
        </tr>
        {{end}}
    </tbody>
</table>
</div>
<div id="pages"></div>


<script>
    layui.use(['form','laypage','jquery'],function () {
        var form = layui.form,
                $ = layui.$,
                laypage = layui.laypage;

        laypage.render({
            elem: 'pages'
            ,count: {{.pagecount}}
            ,curr:{{.page}}
            ,limit:{{.pagelimit}}
            ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
            ,jump: function(obj, first){

                //首次不执行
                if(!first){
                    location.href="{{urlfor "SalesController.List"}}?page="+obj.curr+"&limit="+obj.limit;

                }
            }
        });
    });
</script>